body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji';
      padding: 0;
      margin: 0;
      background-color: rgb(158, 146, 146);
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  
  .list {
    list-style: none;
  }
  
  .link {
    text-decoration: none;
  }
  
  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  header{
      background-color: rgb(163, 75, 204);
  }

  #search-form{
    display: flex;
    position: relative;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 40px;
    justify-content: center;
    padding: 20px 0;
  }
  #search-form button{
    position: absolute;
  }
  #search-form button,
  .load-more {
    font-size: 14px;
    height: 42px;
    top: 25%;
    right: 1px;
    padding: 10px 20px;
    background-color: #c90c99; /* #0073aa */ /* #8200aa */
    color: #ffffff;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 250ms linear;
    border-radius: 4px;
  }

  .load-more {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
  }
  
  .load-more.is-hidden {
    display: none;
  }
  
  #search-form button:hover,
  #search-form button:focus,
  .load-more:hover,
  .load-more:focus {
    background-color: #680e5c;
  }


  #search-form input {
    height: 40px;
    flex-grow: 1;
    font-size: 18px;
    padding-left: 15px;
    border: 1px solid #303030;
    border-radius: 5px;
  }




  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }

  .photo-card {
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
    margin-top: 30px;
    background-color: rgb(163, 75, 204);
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    color: white;

  }

  .photo-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }


  .gallery-img {
    height: 75%;
    width: 100%;
    object-fit: cover;
  }
 

 